.config-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

h2 {
  width: 100%;
  text-align: center;
}

.form-field {
  padding: 10px 0px;
  border-bottom: 1px solid #f0f0f0;
}

.form-field label {
  min-width: 220px;
  display: inline-block;
}
